
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
body{
padding:59px 50px;
font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:16px;
}
strong{
color:#111;
font-weight:700;
font-size:13px;
}
.time span{
margin-top:3px; 
font-size:12px;
color:#999;
display:block;
}
#nav{
overflow:hidden;
margin:0px;
padding:0px;
padding-top:18px;
}
#nav li{
float:left;
list-style:none outside none;
margin:0;
margin-right:30px;
color:#555;
cursor:pointer;
}
#nav  #nav-new {
margin-top:-2px;
}
#nav-new strong{
text-transform:uppercase;
font-size:18px;
font-weight:900;
color:#111;
}
.section{
    border-left: 1px solid #E5E5E5;
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 0 250px 34px 50px;
    position: relative;
    width: 540px;
}
.time{
    background: none repeat scroll 0 0 #FFFFFF;
    left: -33px;
    line-height: 1.2;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 66px;
    line-height:1.1;
    top:0;
    margin:0 0 30px;
}
.content{
    padding-top:9px;
}
.more{
color:#0099d2;
font-size:16px;
text-decoration:none;
display:block;
margin-top:34px;
}
.more span{
padding-left:3px;
}
.page{
margin-left:203px;
margin-top:-20px;
}
.nav{
padding-bottom:65px;
}
.back{
cursor:pointer;
}
